.form-check-label{
    width: 70px;
    font-family: bold;
}
.gap1{
    gap: 25px;
    padding-left: 20px;
}
.gap2{
    gap: 5px;
}
form{

    margin-left: auto;
    margin-right: auto;
}
.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
